* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 40px;
  /*flex: 0.9;*/
  font-size: 16px;
  line-height: 24px;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
  padding-left: 35px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 8px 16px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  font-size: 16px;
  line-height: 24px;
}

.button-primary {
  background: #1890ff;
  border: 1px solid #1890ff;
  color: #ffffff;
  margin-right: 10px;
}

.button-cart {
  color: #595959;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}

.button-icon {
  padding-right: 6px;
}
